SLACK_USER_TOKEN=xoxp-tu-token
MY_SLACK_USER_ID=UXXXXXXX
MY_MENTION_ALIASES=ivan,ivo
POLL_SECONDS=300
SLACK_SLEEP_SECONDS=1.2
INCLUDE_SELF_FOR_TEST=false

MODEL_PROVIDER=ollama
OLLAMA_MODEL=qwen3:4b-instruct
OLLAMA_BASE_URL=http://127.0.0.1:11434

# Fallback opcional
GROQ_API_KEY=
GROQ_MODEL=openai/gpt-oss-20b

# Trello opcional
TRELLO_ENABLED=false
TRELLO_AUTO_CREATE=true
TRELLO_API_KEY=
TRELLO_TOKEN=
TRELLO_LIST_ID=
TRELLO_MEMBER_IDS=
TRELLO_LABEL_IDS=
TRELLO_CARD_POSITION=top

# Opcional
DB_PATH=slack_agent.db
